<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row text-center w-100">
        <div class="col-md-6 mb-3">
            <div class="card p-4 shadow-lg h-100" (click)="navigateToTeacher()">
                <h2 class="card-title">Register as Teacher</h2>
                <p class="card-text">Sign up to teach and share your knowledge.</p>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card p-4 shadow-lg h-100" (click)="navigateToStudent()">
                <h2 class="card-title">Register as Student</h2>
                <p class="card-text">Join and learn from the best teachers.</p>
            </div>
        </div>
    </div>
</div>
