<form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">First Name</label>
    <input id="firstName" formControlName="firstName">
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input id="lastName" formControlName="lastName">
  </div>
  <div>
    <label for="profession">Profession</label>
    <input id="profession" formControlName="profession">
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email">
  </div>
  <div>
    <label>Gender</label>
    <div>
      <input type="radio" id="male" formControlName="gender" [value]="true">
      <label for="male">Male</label>
    </div>
    <div>
      <input type="radio" id="female" formControlName="gender" [value]="false">
      <label for="female">Female</label>
    </div>
  </div>
  <div>
    <label for="score">Score</label>
    <input id="score" formControlName="score">
  </div>
  <div>
    <label for="numberOfOpinions">Number of Opinions</label>
    <input id="numberOfOpinions" formControlName="numberOfOpinions">
  </div>
  <button type="submit">Submit</button>
</form>
