<form [formGroup]="addressForm">
  <ng-template matStepLabel>Fill out your address</ng-template>
  <mat-form-field>
    <mat-label>Street</mat-label>
    <input matInput placeholder="Street" formControlName="street" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>City</mat-label>
    <input matInput placeholder="City" formControlName="city" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Country</mat-label>
    <input matInput placeholder="Country" formControlName="country" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>PostCode</mat-label>
    <input matInput placeholder="PostCode" formControlName="postCode" required>
  </mat-form-field>
</form>
  