<form [formGroup]="addressForm">
    <div class="mb-3 col-3">
      <label for="street" class="form-label">Street</label>
      <input id="street" class="form-control" formControlName="street">
    </div>
    <div class="mb-3 col-3">
      <label for="city" class="form-label">City</label>
      <input id="city" class="form-control" formControlName="city">
    </div>
    <div class="mb-3 col-3">
      <label for="country" class="form-label">Country</label>
      <input id="country" class="form-control" formControlName="country">
    </div>
    <div class="mb-3 col-3">
      <label for="postCode" class="form-label">PostCode</label>
      <input id="postCode" class="form-control" formControlName="postCode">
    </div>
</form>
  