<div class="m-3" >
    <form [formGroup]="teacherForm" *ngIf="teacherForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 col-3">
        <label for="firstName" class="form-label">First Name</label>
        <input id="firstName" class="form-control" formControlName="firstName">
      </div>
      <div class="mb-3 col-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input id="lastName" class="form-control" formControlName="lastName">
      </div>
      <div class="mb-3 col-3">
        <label for="profession" class="form-label">Profession</label>
        <input id="profession" class="form-control" formControlName="profession">
      </div>
      <div class="mb-3 col-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" class="form-control" formControlName="email">
      </div>
      <div class="mb-3 col-3">
        <label for="gender" class="form-label">Gender</label>
        <input id="gender" class="form-control" formControlName="gender">
      </div>
      <div class="mb-3 col-3">
        <label for="score" class="form-label">Score</label>
        <input id="score" class="form-control" formControlName="score">
      </div>
      <div class="mb-3 col-3">
        <label for="numberOfOpinions" class="form-label">Number of Opinions</label>
        <input id="numberOfOpinions" class="form-control" formControlName="numberOfOpinions">
      </div>
      <teacher-address [addressForm]="teacherForm.controls.addressForm"></teacher-address>
      <button type="submit">Submit</button>
    </form>
  </div>
  