<div class="container mt-5">
    <div class="card p-4 shadow-lg">
      <h2 class="text-center mb-3">O aplikacji</h2>
      <p class="text-center">
        Korzystając z naszej aplikacji, możesz łatwo znaleźć korepetytora, umówić się na zajęcia i ocenić lekcje. 
        Zobacz, jak to działa!
      </p>
      <div class="d-flex justify-content-center">
        <iframe width="560" height="315" 
          src="https://www.youtube.com/embed/JbhBdOfMEPs" 
          title="YouTube video player" 
          frameborder="0" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>