<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add opinion</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="userOpinionForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 col-3">
        <label for="score" class="form-label">Score</label>
        <div class="star-rating">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <input type="radio" formControlName="score" [id]="'star' + star" [value]="'' + star" class="form-check-input">
            <label [for]="'star' + star" class="form-check-label">&#9733;</label>
          </ng-container>
        </div>
      </div>
      <div class="mb-3 col-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" class="form-control" formControlName="description" rows="3"></textarea>
      </div>
      <div class="mb-3 col-3">
        <label for="creatorId" class="form-label">Creator ID</label>
        <input id="creatorId" class="form-control" formControlName="creatorId">
      </div>
      <div class="mb-3 col-3">
        <label for="teacherId" class="form-label">Teacher ID</label>
        <input id="teacherId" class="form-control" formControlName="teacherId">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add new opinion</button>

<hr />

<pre>{{ closeResult }}</pre>

<!-- <div class="m-3">
  <form [formGroup]="userOpinionForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 col-3">
      <label for="score" class="form-label">Score</label>
      <div class="star-rating">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
          <input type="radio" formControlName="score" [id]="'star' + star" [value]="'' + star" class="form-check-input">
          <label [for]="'star' + star" class="form-check-label">&#9733;</label>
        </ng-container>
      </div>
    </div>
    <div class="mb-3 col-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" class="form-control" formControlName="description" rows="3"></textarea>
    </div>
    <div class="mb-3 col-3">
      <label for="creatorId" class="form-label">Creator ID</label>
      <input id="creatorId" class="form-control" formControlName="creatorId">
    </div>
    <div class="mb-3 col-3">
      <label for="teacherId" class="form-label">Teacher ID</label>
      <input id="teacherId" class="form-control" formControlName="teacherId">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->
  